<!--Lab Assignment, Joan Suaverdez 301311394, Oct 10 2023-->
<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<main class="container" >
  <div class="jumbotron">
    <h1 class="display-4">Welcome to <%= title %> page</h1>
    </div>

      <h2 style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; ">
        Joan Suaverdez</h2>
      <img src="/img/Picture1.jpg"alt="Joan's Picture" style: width="200px"; height="200px">
      <p style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: larger; ">

        "I'm Joan Suaverdez. I'm passionate about artificial intelligence."
      </p>

      <a href="/Assests/Joan Suaverdez.pdf" target="_blank"> Have a look at my resume to know more about me</a>


    </main>
    
    <!--bottom nav-->
    
   
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   