<!--Lab Assignment, Joan Suaverdez 301311394, Oct 10 2023-->
<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<main class="container">
  <div class="jumbotron" >
    <h1 class="display-4">Welcome to Our  <%= title %> Page</h1>
    
    <blockquote style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: xx-large;">
      <b>"Welcome to my page!" 
    </b></blockquote>
    <p style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: x-large; ">

      "My Mission is to help people undestand and use artificial intelligence in their daily lives"</p>

    <p>Links</p>
    <p><a href="http://localhost:9090/about">About me</a></p>
    <p><a href="http://localhost:9090/contact">Contact</a></p>
    <p><a href="http://localhost:9090/product">Product</a></p>
    <p><a href="http://localhost:9090/Services">Services</a></p>

    </div>
    </main>
    <!--bottom nav-->  
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   