<!--Lab Assignment, Joan Suaverdez 301311394, Oct 10 2023-->


<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to <%= title %> page</h1>


    <blockquote><b> The services we offer are listed below
    </b></blockquote>
    

    <ul>
      <li> <p style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: x-large;" ><b>
        Data Visualization </b></p>
        <img src="/img/services1.png" style: width="400px"; height="200px" ></li>
        <p style = "font-size: smaller" ><i>Image reference: https://res.cloudinary.com/codecrucks/image/upload/c_scale,w_700,h_327,dpr_2/f_webp,q_auto/v1648958444/chart-types.png?_i=AA </i></p>
      <li> 
        <p style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: x-large;" ><b>
        Machine learning developer </b></p>
        <img src="/img/services2.png" style: width="400px"; height="200px" ></li>
        <p style = "font-size: smaller" ><i>https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.forbes.com%2Fsites%2Fkalevleetaru%2F2019%2F01%2F15%2Fwhy-machine-learning-needs-semantics-not-just-statistics%2F&psig=AOvVaw0WlGXE3du0do3NK5XgiEC7&ust=1696876221803000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCOiCmNWK54EDFQAAAAAdAAAAABAj</i></p>
    </ul> 
    </div>

        


    </main>
    <!--bottom nav-->
   
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   